[init]
    defaultBranch = main

[user]
    email = abdulhamedq@hotmail.com
    name = AbdelhamidQ
[alias]
  st = status -sb
  lg = log --oneline --graph --decorate --all
  uncommit = reset --soft HEAD~1
  clean-merged = "!git branch --merged | grep -v '\\*' | xargs -r git branch -d"